.about-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-bottom: 150px;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 50vh;
    margin: auto;
    padding: 20px;
    border-radius: 50%;
    background-color: rgba(94, 94, 94, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-me p {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.about-me h2 {
    color: white;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}